
* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
}

body{
  width: 100%;
  height: 100vh;
  // background: red;
  // color: white;
}

.container {
  // display:flex;

  width:100%;
  height:100%;
  background-color: white;
  padding: 0 20%;

}
// HEADER
.logo {
  width: 100%;
  text-align: center;
  padding: 100px;

}
// NAVBAR

.mainNavbar {
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
  li{
    // display: inline-block;
    list-style: none;

    a {
      text-decoration: none;
      color: black;
      font-size: 30px;
      font-weight: bold;
    }
  }
}

// MAIN SECTIONS


.pasta {
  // width: 100%;
  .imgContainer {
    display: flex;
    flex-wrap: wrap;

    // .imgbox{
    //   width: 30%;
    //
    //   // .imgbox img{
    //   //
    //   //   width: 25%;
    //   //   height: auto;
    //   //   // margin: 10px 10px;
    //   // }
    //
    // }


  }
}


//FOOTER
.containerFooter{
  display: flex;
  justify-content:space-around;
  padding-top: 50px;
  .column h2 {
    padding: 10px 0;
  }

}

.column ul li{
  list-style: none;
    a{
    text-decoration: none;
    color: black;
    }


}
.logocontainer {
  display: flex;
  justify-content: center;

}

/* .container >*{
  margin: auto;
} */
