* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0 20%;
}

.logo {
  width: 100%;
  text-align: center;
  padding: 100px;
}

.mainNavbar {
  display: flex;
  justify-content: space-around;
  padding: 0 20%;
}

.mainNavbar li {
  list-style: none;
}

.mainNavbar li a {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.pasta .imgContainer {
  display: flex;
  flex-wrap: wrap;
}

.containerFooter {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
}

.containerFooter .column h2 {
  padding: 10px 0;
}

.column ul li {
  list-style: none;
}

.column ul li a {
  text-decoration: none;
  color: black;
}

.logocontainer {
  display: flex;
  justify-content: center;
}

/* .container >*{
  margin: auto;
} */

